[submodule "coin-provider"]
	path = coin-provider
	url = https://github.com/punjira/cryptograph-coin-provider
[submodule "history-provider"]
	path = history-provider
	url = https://github.com/punjira/cryptograph-history-provider
[submodule "trend"]
	path = trend
	url = https://github.com/punjira/cryptograph-stock-trend
[submodule "web-client"]
	path = web-client
	url = https://github.com/punjira/cryptograph-web-client
[submodule "candlesticks"]
	path = candlesticks
	url = https://github.com/punjira/cryptograph-candlestick-scanner
[submodule "study"]
	path = study
	url = https://github.com/punjira/cryptograph-study
[submodule "indicators"]
	path = indicators
	url = https://github.com/punjira/cryptograph-indicators
